<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.advance">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Advance">
        <activity
            android:name=".TemanBaru"
            android:exported="false" />
        <activity
            android:name=".RecyclerAct"
            android:parentActivityName=".HalamanAwal"
            android:exported="false" />
        <activity
            android:name=".LihatData"
            android:exported="false"
            android:label="Detail Kontak"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:label="List View"
            android:parentActivityName=".HalamanAwal" />
        <activity
            android:name=".HalamanAwal"
            android:exported="false"
            android:label="Daftar Halaman"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="ToDo App">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>